

<h1>Listing Votings</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Picture</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @votings.each do |voting| %>
      <tr>
        <td><%= voting.user_id %></td>
        <td><%= voting.picture_id %></td>
        <td><%= voting.rating %></td>
        <td><%= link_to 'Show', voting %></td>
        <td><%= link_to 'Edit', edit_voting_path(voting) %></td>
        <td><%= link_to 'Destroy', voting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Voting', new_voting_path %>
