<div class="container fluid">
  <div class="jumbotron">
    <h1>Deine Benutzerdaten</h1>
    <%= form_for(@user) do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "Fehler") %> kann nicht speichern:</h2>
    
          <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    
      <div class="form-group>
        <%= f.label "Email" %><br>
        <%= f.text_field :email, :readonly => true, class:"form-control" %>
      </div>
      <div class="form-group>
        <%= f.label "Passwort" %><br>
        <%= f.text_field :password, class:"form-control" %>
      </div>
      <div class="form-group>
        <%= f.label "Nachname" %><br>
        <%= f.text_field :lastname, class:"form-control" %>
      </div>
      <div class="form-group>
        <%= f.label "Vorname" %><br>
        <%= f.text_field :name, class:"form-control" %>
      </div>
      <br>
      <div>
        <%= link_to "Zurück", users_path, class:"btn btn-default btn-lg" %>
        <%= f.submit "Speichern", class:"btn btn-default btn-lg" %>
      </div>
    <% end %>
  </div>
</div>
