<div class="container fluid">
  <div class="jumbotron">
    <br>
			<table class="table">
        <thead>
          <tr>
            <th>Email</th>
            <th>Lastname</th>
            <th>Name</th>
            <th>Bilder</th>
            <th colspan="2"></th>
          </tr>
        </thead>
      
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.email %></td>
              <td><%= user.lastname %></td>
              <td><%= user.name %></td>
              <td><%= Picture.where("user_id=?", user.id).count %></td>
              <% if user.id == current_user.id or current_user.email == "horst.wurm@bluewin.ch" %>
                <td>
                <%= link_to edit_user_path(user.id), class:"btn btn-info" do %>
                   <i class="glyphicon glyphicon-pencil"></i> Ändern
                <% end %>
                </td>
                <!--<td>-->
                <!--<%= link_to users_path(:pw_rest => "yes"), class:"btn btn-info" do %>-->
                <!--   <i class="glyphicon glyphicon-lock"></i> Passwort reset-->
                <!--<% end %>-->
                <!--</td>-->
                <td>
                <%= link_to user, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-info" do %>
                   <i class="glyphicon glyphicon-trash"></i> Löschen
                <% end %>
                </td>
              <% else %>
                <td></td><td></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div