
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
            <div class="col-md-8">
              <div class="jumbotron">
                <%= image_tag("ooops.jpg", :size => "300x300", class:"img-rounded" ) %>
                <h1>Willkommen zu Klaus wird 50 !</h1>
                <% if user_signed_in? %>
                    <%= link_to diashow_show_path, class:"btn btn-default btn-lg btn-block" do %>
                       <i class="glyphicon glyphicon-facetime-video"></i> Diashow
                    <% end %>
                    <br>
                    <%= link_to pictures_path, class:"btn btn-default btn-lg btn-block" do %>
                       <i class="glyphicon glyphicon-camera"></i><span class="badge pull-right"></span> Photos hochladen & bewerten
                    <% end %>
                    <br>
                    <%= link_to home_winner_path, class:"btn btn-default btn-lg btn-block" do %>
                       <i class="glyphicon glyphicon-star-empty"></i><span class="badge pull-right"></span> Rangliste
                    <% end %>
                    <%= link_to users_path, class:"btn btn-default btn-lg btn-block" do %>
                       <i class="glyphicon glyphicon-user"></i><span class="badge pull-right"></span> <%= current_user.name + " " + current_user.lastname %>
                    <% end %>
                <% end %>
              </div>
            </div>
        <div class="col-md-2"></div>
    </div>          
</div>