<div class="container fluid">
  <div class="jumbotron">
  <br>

  <br>
  <%= form_for(@picture) do |f| %>
    <% if @picture.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved:</h2>
        <ul>
        <% @picture.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="form-group">
      <b>Dein Kommentar</b><br>
      <%= f.text_area :comment, rows:5, class:"form-control" %>
    </div>
    <div class="form-group">
      <b>Dein Bild</b><br>
      <%= f.file_field :image, class:"form-control" %>
    </div>
    <%= f.number_field :user_id, class:"form-control hidden" %>
    <div>
      <%= link_to "Zurück", pictures_path, class:"btn btn-default btn-lg" %>
      <%= f.submit "Speichern",  class:"btn btn-warning btn-lg" do %>
       <i class="glyphicon glyphicon-hdd"></i><span class="badge pull-right"></span> Zurück ohne Speichern
      <% end %>
    </div>
  <% end %>
  </div>
</div>