<nav class="navbar navbar-inverse" role="navigation">
	<!--<div class="navbar-header">-->
	<!--	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">-->
	<!--		 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>-->
	<!--	</button>-->
 <!--   <%= image_tag("klaus.jpg", :size => "50x50") %>-->
 <!--   <%= link_to "ProMIS", home_index_path, class:"navbar-brand" %>-->
	<!--</div>-->
	
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
		    <% if user_signed_in? %>
		      <li class="active">
            <%= link_to diashow_show_path do %>
               <i class="glyphicon glyphicon-facetime-video"></i> Diashow
            <% end %>
          </li>
          <li>
            <%= link_to pictures_path do %>
               <i class="glyphicon glyphicon-camera"></i><span class="badge pull-right"></span> Photos hochladen & bewerten
            <% end %>
          </li>
          <li>
            <%= link_to home_winner_path do %>
               <i class="glyphicon glyphicon-star-empty"></i><span class="badge pull-right"></span> Rangliste
            <% end %>
          </li>
          <li>
            <%= link_to do %>
               <i class="glyphicon glyphicon-user"></i><span class="badge pull-right"></span> <%= current_user.name + " " + current_user.lastname %>
            <% end %>
	      	</li>
        <% end %>
    </ul>
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				 <a href="#" class="dropdown-toggle" data-toggle="dropdown">An-/Abmelden<strong class="caret"></strong></a>
				<ul class="dropdown-menu">
	                <% if user_signed_in? %>
	                   <li><%= link_to "Abmelden", destroy_user_session_path, method: :delete %></li>
	                <% else %>
	                   <li><%= link_to "Anmelden", new_user_session_path %></li>
	                   <li><%= link_to "Neues Passwort", home_pw_reset_path %></li>
	                   <!--<li><%= link_to "Passwort ändern", edit_user_password_path %></li>-->
	                   <li><%= link_to "Neuer Benutzer", new_user_registration_path %></li>
	                <% end %>
				</ul>
			</li>
		</ul>
	</div>
</nav>